.contain{
    height: 120px;
    padding : 0;
    position: relative;
}
.nav-height{
    height: 100%;
    background-color: #d1d5da !important;
}
.search-box{
    width: 70%;
    margin: auto;
}
.search-field{
    width : 100% !important;
}
